header, main, footer {
    background-color: greenyellow;
}
/* Select any and all descendants that are 'div' inside of 'header' */
header div {
    display: flex; 
    align-items: center;
    gap: 1rem; 
    /* Generally for spacing, use rem */
}
header {
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1 {
    font-size: 3em; 
    /* Use em for font sizes */
    font-weight: 700;
}
