div {
    width: 240px;
    height: 240px;
}
.relative {
    position: relative;
}
#dog {
    position: absolute;
    transform: translate(100px, 110px);
    color: red;
}

#cat {
    background-color: greenyellow;
}